@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: #191919;
    color: #F2F2F2;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

button {
    cursor: pointer;
}